body {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ビューポートの高さを100%に */
  margin: 0; /* デフォルトのマージンをリセット */
}

button {
  background-color: #4CAF50;
  border: #4CAF50;
  color: white;
  padding: 100px 150px; /* パディングを増やす */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  margin: 4px 2px;
  border-radius: 5px; 
}